<!-- <footer>
  <div class="row expanded align-center">
    <div class="small-12 medium-2 columns text-center">
      <a href="#">Status</a>
    </div>
    <div class="small-12 medium-2 columns text-center">
      <a href="#">Terms of Service</a>
    </div>
    <div class="small-12 medium-2 columns text-center">
      <p>© 2017 CT</p>
    </div>
  </div>
</footer> -->

<footer>
  <div class="row banner align-center">
    <div class="large-12 columns">

      <div class="row align-center hide-for-small-only">
        <div class="logo small-12 columns center-cell text-center">
          <img src="/images/logo/mimo-colour.svg">
        </div>
        <div class="large-12 medium-12 small-12 columns align-self-middle text-center">
          <p style="margin:0px;">© 2017 MIMO</p>
        </div>
      </div>

      <div class="row align-center show-for-small-only">
        <div class="logo small-12 columns center-cell text-center">
          <img src="/images/logo/mimo-colour.svg">
        </div>
        <div class="small-12 columns center-cell text-center">
          <p style="margin:0px;">© 2017 MIMO</p>
        </div>
        <div class="small-12 columns">
          <div class="small-12 columns align-self-middle text-center">
            <div class="social-button-row center-cell">
              <a href="https://twitter.com/cucumbertony" target="_blank" class="social-button">
                <img src="/images/pages/social/twitter.png" alt="ct networks twitter button">
              </a>
              <a href="https://www.linkedin.com/company/10045423/" target="_blank" class="social-button">
                <img src="/images/pages/social/linkedin.png" alt="ct networks linkedin button">
              </a>
              <a href="https://www.youtube.com/channel/UCpPkREGXYrlontKXB3B3t9A" target="_blank" class="social-button">
                <img src="/images/pages/social/youtube.png" alt="ct networks youtube button">
              </a>
              <a href="http://www.techstars.com/" target="_blank">
                <img style="max-height:50px;width:auto;" src="/images/pages/techstars/techstars-square.png" alt="ct networks techstars 2017">
              </a>
            </div>
          </div>
          <div class="small-12 columns align-self-middle">
          </div>

        </div>
      </div>

    </div>
  </div>
</footer>
